body {
    font-family: 'Kufam', sans-serif;

}


.graph {
   overflow: hidden; 

}

footer{
    position: relative;
    
    background: rgb(66, 199, 0);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #ffffff;
}

.rtl {
    direction: rtl;
}